#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
}
nav a:hover {
    background-color: #003049;
    color: white;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb;
    font-family: Georgia, garamond, serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
header {
    background-color: #669BBC;
}
.book, .join {
    background-color: #FDF0D5;
    color: black;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #003049;
    color: white;
}
#background {
    background-color: #FDF0D5;
}
.home-title {
    color: #003049;
    font-family: 'Brush Script MT', 'Papayrus', 'Copperplate';
    font-size: 2em;
    margin-top: 10px;
}
h2 {
    margin: 0;
}
h4 {
    color: #003049;
    font-family: 'Copperplate', 'Papyrus', 'rockwell';
}
.msg {
    background-color: #669BBC;
    line-height: 1.5em;
    padding: 35px;
}
.msg h2 {
    color: black;
    font-family:'Copperplate', 'Papyrus', 'rockwell' ;
}
.msg p {
    color: black;
    font-size: .8em;
    padding-bottom: 15px;
}
footer {
    background-color: #669BBC;
    color: black;
    padding: 25px 50px;
    margin-top: 200px;
}
footer .social img {
    padding-top: 15px;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #FDF0D5;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
    padding-top: 10px;
}
#hero-img {
    width: 100%;
}
#logo_link {
    padding-top: 5px;
}
.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}
.card-img {
    border: 10px solid #669BBC;
}
main section img {
    box-sizing: border-box;
}