#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body {
    background-color: #fcfbfb;
}
header {
    background-color: #669BBC;
}
nav a:hover {
    background-color: #003049;
    color: white;
}
.book, .join {
    background-color: rgb(255, 255, 156);
    color: black;
    text-decoration: none;
}
.book:hover, .join:hover {
    background-color: #003049;
    color: white;
}
#background {
    background-color: #FDF0D5;
}
.msg {
    background-color: #669BBC;
}
footer {
    background-color: #669BBC;
    color: black;
}
.home-title {
    color: #003049;
}
h4 {
    color: #003049;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
}
footer a {
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #FDF0D5;
}
footer p {
    font-size: 1.2em;
}
footer p a:hover{
    text-decoration: underline;
}
.logo {
    width: 80px;
}
.icon {
    width: 80px;
}
#hero-img {
    width: 100%;
}